@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,300italic,800);

@font-face {
  font-family: "Bebas Neue";
  font-weight: 600;
  src: url("../assets/fonts/BebasNeue Bold.otf");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  src: url("../assets/fonts/BebasNeue Regular.otf");
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin: 0;

  text-align: center;
}

.os-font {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#banner, #footer {
  position: absolute;
  top: 0;

  width: 100vw;

  text-align: center;

  background-image: url(../assets/banner.png);
  background-size: 100% 100%;
}

#banner {
  height: 30vw;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

#banner ul a:hover {
  text-decoration: underline;
}

#footer {
  position: relative;
  top: inherit;

  height: 25vw;

  background-image: url(../assets/footer.png);
}

.cs-footer {
  margin-top: -15vw;
}

#tutoring_bg {
  background-image: url(../assets/tutoring_bg.jpg);
}

#academic_center_bg {
  background-image: url(../assets/academic_center_bg.jpg);
}

#contact_eof_bg {
  background-image: url(../assets/contact_eof_bg.jpg);
}

#banner #written_logo {
  display: inline-block;
  position: relative;

  color: #FAFAFA;
}

#written_logo h2 {
  font-size: 3.5vw;
}

#written_logo .custom-logo-subtext {
  margin: -5px 0 0 0;
  font-size: 1.3vw;
}

#banner nav {
  display: inline-block;
}

#banner nav ul {
  list-style-type: none;
  padding: 0;
  color: #FFF;
}

ul li {
  display: inline-block;
  vertical-align: top;
  text-align: left;

  margin: 0px 1vw;

  width: 11vw;

  text-transform: uppercase;

  font-size: 1.3vw;
  font-weight: 600;
  letter-spacing: 0.2vw;
}

#home_bg {
  width: 100vw;
  padding: 20vw 0 10vw 0;

  text-align: center;

  background-image: url(../assets/home_bg.jpg);
  background-size: cover;
  background-position: center center;
}

#blue_banner {
  padding: 20px 0px;
  background-color: #003472;

  color: #FAFAFA;
}

#paul_rand_attr {
  position: relative;
  left: 5vw;
}

#contact_hero,
#submit_portfolio_hero {
  background-image: url(../assets/contact_hero.jpg);
  background-size: cover;
  background-position: center center;

  margin-top: 7vw;

  width: 100vw;
  padding: 10vw 0;

  z-index: -1;
}

#submit_portfolio_hero {
  background-image: url(../assets/submit_portfolio_hero.jpg);
}

li a {
  text-decoration: none;
  color: #FAFAFA;
}

#form_container {
  margin: 50px 0px;
  display: inline-block;
}

#form_sidebar {
  float: left;
  width: 10vw;
  height: 100%;

  background-image: url(../assets/contact_us_sidebar.jpg);
  background-size: 100% 100%;
}

#form_container form {
  text-align: center;
  position: relative;

  float: left;
  width: 60vw;
  height: auto;
}

#form_container form input[type="text"],
#form_container form input[type="email"],
#form_container form input[type="tel"],
#form_container form textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  font-style: italic;

  width: 70%;
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
}

#form_container form textarea {
  height: 130px;
}

#form_container button,
button.button {
  background-color: #015697;
  padding: 15px 25px 10px 25px;
  font-family: "Bebas Neue", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  border: none;
  color: #FAFAFA;

  outline: none;

  transition: all 0.3s ease;
}

#form_container button:hover,
button.button:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  -moz-filter: brightness(1.1);
}

#form_container button:active,
button.button:active {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
}

button.button.red {
  background-color: #7c0817;
}

.career-overlay {
  width: 100%;
  height: 40vw;
  background-size: cover;
  background-position: center center;
}

#careers_f_slide {
  height: 60vw;
  background-image: url(../assets/careers-first-slide.png);
}

#blurry_desk {
  background-image: url(../assets/blurry-desk.jpg);
}

#blurry_ipad {
  background-image: url(../assets/blurry-ipad.jpg);
}

#blurry_desk_2 {
  background-image: url(../assets/blurry-desk-2.jpg);
}

.h-banner {
  padding: 50px;
  background-image: url(../assets/horiz-banner.jpg);
  background-size: cover;
  background-position: center center;
}

.resource-slide {
  background-size: cover;
  background-position: center center;

  padding: 15vw 15vw;
  text-align: left;
}

.resource-slide.right {
  text-align: right;
}

.resource-slide.right p {
  margin-left: auto;
  margin-right: 0;
  text-align: left;
}

blockquote {
  display: inline-block;

  font-size: 28pt;
  font-weight: 300;
}

h2 {
  font-size: 18pt;
}

h2.body {
  font-family: "Bebas Neue";
  font-size: 28pt;
  font-weight: 600;
}

.blue {
  color: #015697;
}

.blue-bg {
  background-color: #d6e4ed
}

.p-20 {
  padding: 20px;
}

h1.margin-top {
  margin-top: 40px;
}

hr.red {
  border: none;
  border-bottom: 8px solid #7c0817;

  margin: 0;
}

img.bubble {
  display: inline-block;
  vertical-align: top;

  width: 300px;
  height: 300px;
  margin: 0px 20px;

  border-radius: 160px;

  border: 10px solid #015697;

  background-color: #EEE;
}

.profile-box {
  display: inline-block;
  vertical-align: top;

  margin-top: 35px;

  border-left: 10px solid #015697;
  padding: 0px 20px;
}

.profile-box h3 {
  margin-top: 0;
}

.profile-box p {
  margin-bottom: 0;
}

.w-400 {
  width: 400px;
}

.w-33 {
  display: inline-block;

  width: 31%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  display: inline-block;
  width: 49.5% !important;

  vertical-align: top;
}

.w-70 {
  width: 70% !important;
  display: inline-block;
}

.no-margin {
  margin: 0;
}

.left-align {
  margin: 0 0 0 auto;
}

.m-bottom-20 {
  margin-bottom: 20px !important;
}

.m-left-25 {
  margin-left: 25px !important;
}

.p-top-20 {
  padding-top: 20px;
}

.tabs-right {
  width: 500px;
  height: 40px;

  text-align: left;

  margin-right: 0;
  margin-left: auto;

  background-image: url(../assets/tabs.png);
  background-size: cover;
}

.date {
  display: inline-block;
}

.lower-date {
  position: relative;
  top: -5px;
  margin-left: 30px !important;
}

.event-name {
  display: inline-block;
  vertical-align: top;

  font-size: 14pt;

  margin-left: 40px;
  margin-top: 8px;
}

.event-description {
  margin: 30px 30px 30px auto;
}

.justify {
  text-align: justify;
}

.r-top-5 {
  position: relative;

  top: 5px;
}

.mini-profile-bubble {
  display: inline-block;

  width: 70px;
  height: 70px;
  border-radius: 35px;

  background-color: #444;
}

.paragraph-insert {
  margin: 50px 0px;
}

.no-margin {
  margin: 0;
}

.p-50 {
  width: calc(100% - 100px);
  padding: 50px;
}

.p-bottom-50 {
  padding-bottom: 50px;
}

.h-80 {
  height: 80px;
}

.margin-center {
  margin: 0 auto;
}

.no-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-img {
  background-image: none !important;
  background-color: #444;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.4);
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.ultra-bold {
  font-weight: 800;
}

.small {
  font-size: 11pt;
}

.uppercase {
  text-transform: uppercase;
}

.red {
  color: #7c0817;
}

.white {
  color: #FFF;
}

.left {
  text-align: left;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100%;
}

.float-right {
  float: right;
}

.clear-float {
  clear: both;
}

#calendar_wrapper {
  margin: 25vh 0 0 0;
}

.calendar-container {
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

@media (max-width: 749px) {
  #form_sidebar {
    height: 534px;
  }
}

@media (min-width: 700px) {
  #written_logo h2 {
    font-size: 2vw;
  }

  #written_logo .custom-logo-subtext {
    margin: -5px 0 0 0;
    font-size: 1vw;
  }

  #banner {
    height: 18vw;
  }

  #banner #written_logo {
    position: relative;
    top: 0vw;
    margin-right: 5vw;
  }

  #banner nav {
    display: inline-block;
  }

  #banner nav ul {
    list-style-type: none;
    margin-top: 3vw;
    padding: 0;
    color: #FFF;
  }

  ul li {
    display: inline-block;
    vertical-align: top;

    margin: 0px 0.5vw;

    width: 8vw;

    text-transform: uppercase;

    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.13vw;
  }
}
